@{
    var db = Database.Open("Blog");
    var selectQueryString = "SELECT * FROM Posts ORDER BY ID";
    var data = db.Query(selectQueryString);
    var grid = new WebGrid(source: data, defaultSort: "ID" , rowsPerPage:2);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div id="grid">
            @grid.GetHtml()
        </div>
    </body>
</html>
