body {
}

.absol
{
    position:absolute;
    top:0px;
    left:0px;
}

.rel
{
    position:relative;
    top:0px;
    left:0px;
}

.fixed
{
    position:fixed;
    top:80px;
    left:650px;
}

.static
{
    position:static;
    top:560px;
    left:10px;
    width:100px;
    height:200px;
}