@helper TweetButton(string url,string text)
{
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    
    <div>
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="@url" data-text="'@text'">Tweet</a>
    </div>
}